# Gradle
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Log/Temp
*.log

# Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Keystore files (NEVER commit)
*.jks
*.keystore

# Mac/Windows
.DS_Store
Thumbs.db

# NDK
.externalNativeBuild/
.cxx/

# Captures
captures/

# Kotlin
.kotlin/
